/* # =================================================================
   # Browser Upgrade
   # ================================================================= */
/* Add generic styles to H5BP .browserupgrade - https://github.com/h5bp/html5-boilerplate/blob/master/dist/index.html#L18-L20 */
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500,700,900';
.browserupgrade {
  padding: 15px;
  text-align: center;
  color: #fff;
  background: #333; }

.browserupgrade a {
  text-decoration: none;
  color: #1e90ff;
  font-weight: bold; }

.browserupgrade a:hover {
  text-decoration: underline; }

/* # =================================================================
   # Global selectors
   # ================================================================= */
html {
  box-sizing: border-box;
  overflow-y: scroll;
  /* All browsers without overlaying scrollbars */
  -webkit-text-size-adjust: 100%;
  /* iOS 8+ */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

*,
::before,
::after {
  box-sizing: inherit; }

::before,
::after {
  text-decoration: inherit;
  /* Inherit text-decoration and vertical align to ::before and ::after pseudo elements */
  vertical-align: inherit; }

/* Remove margin, padding of all elements and set background-no-repeat as default */
* {
  background-repeat: no-repeat;
  /* Set `background-repeat: no-repeat` to all elements */
  padding: 0;
  /* Reset `padding` and `margin` of all elements */
  margin: 0; }

/* # =================================================================
   # General elements
   # ================================================================= */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: transparent;
  /* For some Androids */ }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  width: 100%; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

/* Add the correct display in iOS 4-7.*/
audio:not([controls]) {
  display: none;
  height: 0; }

hr {
  overflow: visible;
  /* Show the overflow in Edge and IE */ }

ol, ul {
  list-style: none; }

hr {
  border-top: none;
  border-left: none;
  border-style: solid; }

/*
* Correct `block` display not defined for any HTML5 element in IE 8/9
* Correct `block` display not defined for `details` or `summary` in IE 10/11
* and Firefox
* Correct `block` display not defined for `main` in IE 11
*/
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

small {
  font-size: 80%;
  /* Set font-size to 80% in `small` elements */ }

[hidden],
template {
  display: none;
  /* Add the correct display in IE */ }

abbr[title] {
  border-bottom: 1px dotted;
  /* Add a bordered underline effect in all browsers */
  text-decoration: none;
  /* Remove text decoration in Firefox 40+ */ }

a {
  background-color: transparent;
  /* Remove the gray background on active links in IE 10 */
  -webkit-text-decoration-skip: objects;
  /* Remove gaps in links underline in iOS 8+ and Safari 8+ */ }

a:active,
a:hover {
  outline-width: 0;
  /* Remove the outline when hovering in all browsers */ }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* Specify the font family of code elements */ }

b,
strong {
  font-weight: bolder;
  /* Correct style set to `bold` in Edge 12+, Safari 6.2+, and Chrome 18+ */ }

dfn {
  font-style: italic;
  /* Address styling not present in Safari and Chrome */ }

/* Address styling not present in IE 8/9 */
mark {
  background-color: #ff0;
  color: #000; }

/* https://gist.github.com/unruthless/413930 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* # =================================================================
   # Forms
   # ================================================================= */
input {
  border-radius: 0;
  outline: none; }

[type="number"] {
  width: auto;
  /* Firefox 36+ */ }

[type="search"] {
  -webkit-appearance: textfield;
  /* Safari 8+ */ }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  /* Safari 8 */ }

textarea {
  overflow: auto;
  /* Internet Explorer 11+ */
  resize: vertical;
  /* Specify textarea resizability */
  border-radius: 0;
  outline: none; }

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* Specify font inheritance of form elements */ }

optgroup {
  font-weight: bold;
  /* Restore the font weight unset by the previous rule. */ }

button {
  overflow: visible;
  /* Address `overflow` set to `hidden` in IE 8/9/10/11 */ }

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: 0;
  padding: 0; }

/* Replace focus style removed in the border reset above */
button:-moz-focusring,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  outline: 1px dotted ButtonText; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS */ }

button,
select {
  text-transform: none;
  /* Firefox 40+, Internet Explorer 11- */ }

/* Remove the default button styling in all browsers */
button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit;
  border: solid 1px #666; }

/* Style select like a standard input */
select {
  -moz-appearance: none;
  /* Firefox 36+ */
  -webkit-appearance: none;
  /* Chrome 41+ */ }

select::-ms-expand {
  display: none;
  /* Internet Explorer 11+ */ }

select::-ms-value {
  color: currentColor;
  /* Internet Explorer 11+ */ }

legend {
  border: 0;
  /* Correct `color` not being inherited in IE 8/9/10/11 */
  color: inherit;
  /* Correct the color inheritance from `fieldset` elements in IE */
  display: table;
  /* Correct the text wrapping in Edge and IE */
  max-width: 100%;
  /* Correct the text wrapping in Edge and IE */
  white-space: normal;
  /* Correct the text wrapping in Edge and IE */ }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* Correct the inability to style clickable types in iOS and Safari */
  font: inherit;
  /* Change font properties to `inherit` in Chrome and Safari */ }

/* Correct the text style of placeholders in Chrome, Edge, and Safari */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

[type="search"] {
  -webkit-appearance: textfield;
  /* Correct the odd appearance in Chrome and Safari */
  outline-offset: -2px;
  /* Correct the outline style in Safari */ }

/* # =================================================================
   # Specify media element style
   # ================================================================= */
img {
  border-style: none;
  /* Remove border when inside `a` element in IE 8/9/10 */ }

/* Add the correct vertical alignment in Chrome, Firefox, and Opera */
progress {
  vertical-align: baseline; }

svg:not(:root) {
  overflow: hidden;
  /* Internet Explorer 11- */ }

audio,
canvas,
progress,
video {
  display: inline-block;
  /* Internet Explorer 11+, Windows Phone 8.1+ */ }

/* # =================================================================
   # Acessibility
   # ================================================================= */
/* Hide content from screens but not screenreaders */
@media screen {
  [hidden~="screen"] {
    display: inherit; }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important; } }

/* Specify the progress cursor of updating elements */
[aria-busy="true"] {
  cursor: progress; }

/* Specify the pointer cursor of trigger elements */
[aria-controls] {
  cursor: pointer; }

/* Specify the unstyled cursor of disabled, not-editable, or otherwise inoperable elements */
[aria-disabled] {
  cursor: default; }

/* # =================================================================
   # Selection
   # ================================================================= */
/* Specify text selection background color and omit drop shadow */
::-moz-selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #fff;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  /* Required when declaring ::selection */
  color: #fff;
  text-shadow: none; }

.text-justify {
  text-align: justify; }

html {
  font-size: 18px;
  font-family: "Roboto";
  color: #666666;
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto";
  letter-spacing: .1rem;
  color: #5d5d5d;
  font-weight: normal; }

body {
  line-height: 1.6; }
  body {
    font-size: 0.889rem; }
    @media screen and (min-width: 30rem) {
      body {
        font-size: calc(0.889rem + 0.111 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      body {
        font-size: 1rem; } }

p {
  margin-bottom: 28.8px; }

h1 {
  margin-bottom: 57.6px; }
  h1 {
    font-size: 2.986rem; }
    @media screen and (min-width: 30rem) {
      h1 {
        font-size: calc(2.986rem + 0.597 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h1 {
        font-size: 3.583rem; } }

h2 {
  margin-bottom: 28.8px; }
  h2 {
    font-size: 2.488rem; }
    @media screen and (min-width: 30rem) {
      h2 {
        font-size: calc(2.488rem + 0.498 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h2 {
        font-size: 2.986rem; } }

h3 {
  margin-bottom: 14.4px; }
  h3 {
    font-size: 2.074rem; }
    @media screen and (min-width: 30rem) {
      h3 {
        font-size: calc(2.074rem + 0.414 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h3 {
        font-size: 2.488rem; } }

h4 {
  margin-bottom: 9.6px; }
  h4 {
    font-size: 1.728rem; }
    @media screen and (min-width: 30rem) {
      h4 {
        font-size: calc(1.728rem + 0.346 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h4 {
        font-size: 2.074rem; } }

h4 {
  margin-bottom: 7.2px; }
  h4 {
    font-size: 1.44rem; }
    @media screen and (min-width: 30rem) {
      h4 {
        font-size: calc(1.44rem + 0.288 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h4 {
        font-size: 1.728rem; } }

h5 {
  margin-bottom: 5.76px; }
  h5 {
    font-size: 1.2rem; }
    @media screen and (min-width: 30rem) {
      h5 {
        font-size: calc(1.2rem + 0.24 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h5 {
        font-size: 1.44rem; } }

h6 {
  margin-bottom: 4.8px; }
  h6 {
    font-size: 1rem; }
    @media screen and (min-width: 30rem) {
      h6 {
        font-size: calc(1rem + 0.2 * (100vw - 30rem) / 45); } }
    @media screen and (min-width: 75rem) {
      h6 {
        font-size: 1.2rem; } }

.button {
  display: inline-block;
  padding: .5rem 1.5rem;
  background: #000;
  border-radius: 3px;
  color: #fff;
  text-align: center;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .button:hover {
    background: #333333; }

.is-wide {
  padding-left: 2.5rem;
  padding-right: 2.5rem; }

.is-rounded {
  border-radius: 5px; }

.is-round {
  border-radius: 50px; }

.button.is-primary {
  background: #ed1c24;
  border: solid 1px #ed1c24; }
  .button.is-primary:hover {
    background: #f14b52;
    border-color: #f14b52; }

.button.is-secondary {
  background: #1ca3e9;
  border: solid 1px #1ca3e9; }
  .button.is-secondary:hover {
    background: #4ab6ee;
    border-color: #4ab6ee; }

.button.is-info {
  background: #54bed3;
  border: solid 1px #54bed3; }
  .button.is-info:hover {
    background: #7dcddd;
    border-color: #7dcddd; }

.button.is-success {
  background: #78be3c;
  border: solid 1px #78be3c; }
  .button.is-success:hover {
    background: #92cd60;
    border-color: #92cd60; }

.button.is-warning {
  background: #ffc107;
  border: solid 1px #ffc107; }
  .button.is-warning:hover {
    background: #ffce3a;
    border-color: #ffce3a; }

.button.is-danger {
  background: #d35657;
  border: solid 1px #d35657; }
  .button.is-danger:hover {
    background: #de7e7f;
    border-color: #de7e7f; }

.button.is-light {
  background: #f5f5f5;
  color: #252525;
  border: solid 1px #f5f5f5; }
  .button.is-light:hover {
    background: white;
    border-color: white; }

.button.is-dark {
  background: #252525;
  border: solid 1px #252525; }
  .button.is-dark:hover {
    background: #3f3f3f;
    border-color: #3f3f3f; }

.button.is-primary.has-shadow {
  box-shadow: 0 5px 20px 0 rgba(237, 28, 36, 0.8); }
  .button.is-primary.has-shadow:hover {
    box-shadow: 0 15px 20px -10px rgba(237, 28, 36, 0.8); }

.button.is-secondary.has-shadow {
  box-shadow: 0 5px 20px 0 rgba(28, 163, 233, 0.8); }
  .button.is-secondary.has-shadow:hover {
    box-shadow: 0 15px 20px -10px rgba(28, 163, 233, 0.8); }

.button.is-info.has-shadow {
  box-shadow: 0 5px 20px 0 rgba(84, 190, 211, 0.8); }
  .button.is-info.has-shadow:hover {
    box-shadow: 0 15px 20px -10px rgba(84, 190, 211, 0.8); }

.button.is-success.has-shadow {
  box-shadow: 0 5px 20px 0 rgba(120, 190, 60, 0.8); }
  .button.is-success.has-shadow:hover {
    box-shadow: 0 15px 20px -10px rgba(120, 190, 60, 0.8); }

.button.is-warning.has-shadow {
  box-shadow: 0 5px 20px 0 rgba(255, 193, 7, 0.8); }
  .button.is-warning.has-shadow:hover {
    box-shadow: 0 15px 20px -10px rgba(255, 193, 7, 0.8); }

.button.is-danger.has-shadow {
  box-shadow: 0 5px 20px 0 rgba(211, 86, 87, 0.8); }
  .button.is-danger.has-shadow:hover {
    box-shadow: 0 15px 20px -10px rgba(211, 86, 87, 0.8); }

.button.is-light.has-shadow {
  box-shadow: 0 5px 20px 0 rgba(37, 37, 37, 0.5); }
  .button.is-light.has-shadow:hover {
    box-shadow: 0 15px 20px -10px rgba(37, 37, 37, 0.4); }

.button.is-dark.has-shadow {
  box-shadow: 0 5px 20px 0 rgba(37, 37, 37, 0.5); }
  .button.is-dark.has-shadow:hover {
    box-shadow: 0 15px 20px -10px rgba(37, 37, 37, 0.8); }

.button.is-primary.has-dimension {
  border-top-color: #f8aaad;
  border-bottom-color: #68080c; }

.button.is-secondary.has-dimension {
  border-top-color: #a7dcf7;
  border-bottom-color: #0a4462; }

.button.is-info.has-dimension {
  border-top-color: #ceecf2;
  border-bottom-color: #1d6371; }

.button.is-success.has-dimension {
  border-top-color: #c7e5ae;
  border-bottom-color: #2f4a17; }

.button.is-warning.has-dimension {
  border-top-color: #ffe7a0;
  border-bottom-color: #6d5200; }

.button.is-danger.has-dimension {
  border-top-color: #f3cfd0;
  border-bottom-color: #721e1e; }

.button.is-light.has-dimension {
  border-top-color: white;
  border-bottom-color: darkgray; }

.button.is-dark.has-dimension {
  border-top-color: #727272;
  border-bottom-color: black; }

.button.is-ghost {
  background: transparent;
  border: solid 2px #000;
  color: #000; }
  .button.is-ghost:hover {
    background: #000;
    color: #fff; }

.button.is-primary.is-ghost {
  border-color: #ed1c24;
  color: #ed1c24; }
  .button.is-primary.is-ghost:hover {
    background: #ed1c24;
    color: #fff; }

.button.is-secondary.is-ghost {
  border-color: #1ca3e9;
  color: #1ca3e9; }
  .button.is-secondary.is-ghost:hover {
    background: #1ca3e9;
    color: #fff; }

.button.is-info.is-ghost {
  border-color: #54bed3;
  color: #54bed3; }
  .button.is-info.is-ghost:hover {
    background: #54bed3;
    color: #fff; }

.button.is-success.is-ghost {
  border-color: #78be3c;
  color: #78be3c; }
  .button.is-success.is-ghost:hover {
    background: #78be3c;
    color: #fff; }

.button.is-warning.is-ghost {
  border-color: #ffc107;
  color: #ffc107; }
  .button.is-warning.is-ghost:hover {
    background: #ffc107;
    color: #fff; }

.button.is-danger.is-ghost {
  border-color: #d35657;
  color: #d35657; }
  .button.is-danger.is-ghost:hover {
    background: #d35657;
    color: #fff; }

.button.is-light.is-ghost {
  border-color: #f5f5f5;
  color: #f5f5f5; }
  .button.is-light.is-ghost:hover {
    background: #f5f5f5;
    color: #252525; }

.button.is-dark.is-ghost {
  border-color: #252525;
  color: #252525; }
  .button.is-dark.is-ghost:hover {
    background: #252525;
    color: #fff; }

::-moz-selection {
  background: #ed1c24;
  color: #fff; }

::selection {
  background: #ed1c24;
  color: #fff; }

body {
  background: #333;
  color: #fff; }

.nav {
  width: 100%;
  background: #252525;
  padding: 0 0 1rem;
  position: fixed;
  z-index: 30;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .nav__topbar {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #131519;
    margin-bottom: 1rem;
    padding: .2rem 2rem; }
    @media only screen and (max-width: 768px) {
      .nav__topbar {
        display: none; } }
    .nav__topbar a {
      font-size: .8rem;
      color: #666666; }
  .nav__socials {
    margin-left: auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .nav__socials a {
      margin-right: 1rem; }
  .nav__content {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media only screen and (max-width: 768px) {
      .nav__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 .5rem; } }
  .nav__brand {
    display: block; }
    .nav__brand img {
      height: 50px; }
      @media only screen and (max-width: 768px) {
        .nav__brand img {
          margin-top: 10px;
          height: 40px; } }
  .nav__navbar {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto; }
    @media only screen and (max-width: 768px) {
      .nav__navbar {
        display: none; } }
    .nav__navbar a {
      display: block;
      padding: 1rem 1rem;
      font-weight: bold;
      text-transform: uppercase;
      -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      color: #fff;
      position: relative; }
      .nav__navbar a {
        font-size: 0.67rem; }
        @media screen and (min-width: 30rem) {
          .nav__navbar a {
            font-size: calc(0.67rem + 0.08 * (100vw - 30rem) / 45); } }
        @media screen and (min-width: 75rem) {
          .nav__navbar a {
            font-size: 0.75rem; } }
      .nav__navbar a:before {
        content: '';
        position: absolute;
        top: -1rem;
        left: 0;
        height: 5px;
        width: 100%;
        background: #1ca3e9;
        -webkit-transform: scaleY(0);
                transform: scaleY(0);
        -webkit-transform-origin: top;
                transform-origin: top;
        -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
        transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      .nav__navbar a:hover {
        color: #1ca3e9; }
        .nav__navbar a:hover:before {
          -webkit-transform: scaleY(1);
                  transform: scaleY(1); }

.nav.is--scrolled {
  -webkit-transform: translateY(-35px);
          transform: translateY(-35px);
  box-shadow: 0 0 30px 0 #000; }

.hero {
  background: #000;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
  width: 100%;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  overflow: hidden;
  position: relative; }
  @media only screen and (max-width: 768px) {
    .hero {
      -webkit-box-align: center;
          -ms-flex-align: center;
                  -ms-grid-row-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .hero:after {
    content: '';
    position: absolute;
    height: 100%;
    width: 200%;
    right: -100%;
    background: #ed1c24;
    mix-blend-mode: multiply;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    z-index: 10; }
    @media only screen and (max-width: 768px) {
      .hero:after {
        bottom: -50%; } }
  .hero__content {
    margin-top: 6rem;
    margin-right: 4rem;
    max-width: 50%;
    position: relative;
    right: 0;
    z-index: 20; }
    @media only screen and (max-width: 768px) {
      .hero__content {
        max-width: 80%;
        margin: 0 !important;
        margin-top: 17rem !important; } }
    .hero__content img {
      max-width: 80%; }
    .hero__content h1,
    .hero__content h4 {
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      margin-bottom: 14.4px;
      line-height: 100%;
      padding: 1rem;
      background: #252525;
      float: left;
      clear: both; }
    @media only screen and (max-width: 768px) {
      .hero__content h1 {
        font-size: 2.5rem; } }
    .hero__content h4 {
      font-size: 1.25rem;
      color: #1ca3e9; }
      @media only screen and (max-width: 768px) {
        .hero__content h4 {
          font-size: 1rem; } }
    .hero__content a {
      display: block;
      color: #1ca3e9;
      text-transform: uppercase;
      font-weight: bold;
      white-space: nowrap; }
      .hero__content a {
        font-size: 1rem; }
        @media screen and (min-width: 30rem) {
          .hero__content a {
            font-size: calc(1rem + 0.25 * (100vw - 30rem) / 45); } }
        @media screen and (min-width: 75rem) {
          .hero__content a {
            font-size: 1.25rem; } }
      @media only screen and (max-width: 768px) {
        .hero__content a {
          display: none; } }
      .hero__content a span {
        color: #252525; }
    .hero__content p {
      clear: both;
      background: rgba(255, 255, 255, 0.8);
      margin-bottom: 0;
      padding: 1rem;
      color: #666666; }
      @media only screen and (max-width: 768px) {
        .hero__content p {
          display: none; } }
      .hero__content p:first-of-type {
        padding-bottom: 0; }

.hero-form {
  clear: both;
  position: relative;
  right: 0;
  padding: 1rem;
  background: rgba(37, 37, 37, 0.9);
  box-shadow: 0 1px 8px 2px rgba(37, 37, 37, 0.9);
  margin-top: 4.5rem; }
  @media only screen and (max-width: 768px) {
    .hero-form {
      margin-top: 0rem; } }
  .hero-form h4 {
    top: 0;
    right: 0; }
  .hero-form a {
    display: block; }
    .hero-form a span {
      color: #fff; }
  .hero-form #form,
  .hero-form #form-header {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .hero-form #form input,
    .hero-form #form textarea,
    .hero-form #form-header input,
    .hero-form #form-header textarea {
      background: #202020;
      border-radius: 3px;
      padding: .3rem;
      margin-bottom: .5rem;
      border-color: #444; }
      @media only screen and (max-width: 768px) {
        .hero-form #form input,
        .hero-form #form textarea,
        .hero-form #form-header input,
        .hero-form #form-header textarea {
          display: none; } }
    .hero-form #form .submit,
    .hero-form #form-header .submit {
      background: #1ca3e9;
      cursor: pointer; }

.hero-title {
  margin-left: 4rem;
  background: rgba(28, 163, 233, 0.8);
  position: absolute;
  z-index: 20;
  max-width: 60%;
  bottom: 4rem;
  left: 0;
  padding: 1rem;
  box-shadow: 0 1px 4px 1px rgba(37, 37, 37, 0.9); }
  @media only screen and (max-width: 768px) {
    .hero-title {
      bottom: auto;
      top: 8rem;
      left: -2rem;
      max-width: 80%; } }
  .hero-title h1 {
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.2;
    color: #fff;
    text-transform: uppercase; }
    .hero-title h1 {
      font-size: 1.5rem; }
      @media screen and (min-width: 30rem) {
        .hero-title h1 {
          font-size: calc(1.5rem + 0.75 * (100vw - 30rem) / 45); } }
      @media screen and (min-width: 75rem) {
        .hero-title h1 {
          font-size: 2.25rem; } }
    .hero-title h1 span {
      color: #ed1c24; }

.cta {
  box-shadow: inset 0 20px 30px 0 rgba(37, 37, 37, 0.6);
  padding: 4rem;
  background-image: url("../img/cta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center; }
  @media only screen and (max-width: 768px) {
    .cta {
      padding: 1rem; } }
  .cta__content {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    background: rgba(37, 37, 37, 0.6);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1rem; }
    @media only screen and (max-width: 768px) {
      .cta__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 .5rem; } }
    @media only screen and (max-width: 768px) {
      .cta__content {
        text-align: center; } }
    .cta__content div {
      padding: 1rem; }
    @media only screen and (max-width: 768px) {
      .cta__content img {
        display: none; } }
    .cta__content h3 {
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      margin-bottom: 0; }
    .cta__content h6 {
      text-transform: uppercase;
      color: #fff; }
    .cta__content li {
      color: #fff;
      text-transform: uppercase; }
    .cta__content .button {
      background: #fff;
      color: #666666;
      border-radius: 3px;
      padding-left: 4rem;
      padding-right: 4rem;
      text-transform: uppercase;
      margin-left: 2rem;
      -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      .cta__content .button:hover {
        background: #1ca3e9;
        color: #fff; }

.promo {
  box-shadow: inset 0 20px 30px 0 rgba(37, 37, 37, 0.6);
  padding: 4rem;
  background-image: url("../img/promo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
  @media only screen and (max-width: 768px) {
    .promo {
      padding: .5rem;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  .promo__content {
    max-width: 60%; }
    @media only screen and (max-width: 768px) {
      .promo__content {
        max-width: 90%; } }
    .promo__content h3 {
      text-transform: uppercase;
      font-weight: bold;
      color: #fff;
      margin-bottom: 14.4px;
      line-height: 100%;
      padding: 1rem;
      background: #252525; }
      @media only screen and (max-width: 768px) {
        .promo__content h3 {
          margin-bottom: 0; } }
    .promo__content p {
      background: rgba(255, 255, 255, 0.8);
      margin-bottom: 0;
      padding: 1rem;
      color: #666666; }
    .promo__content a {
      color: #fff;
      text-transform: uppercase;
      font-weight: bold;
      background: #666;
      width: 60%;
      max-width: 60%;
      float: right;
      padding-left: 4rem;
      line-height: 2.5; }
      .promo__content a:after {
        content: '\f105';
        font-family: fontawesome;
        display: inline-block;
        float: right;
        text-align: center;
        width: 50%;
        background: #333; }
      @media only screen and (max-width: 768px) {
        .promo__content a {
          max-width: 100%;
          width: 100%;
          padding-left: 0;
          text-align: center; }
          .promo__content a:after {
            display: none; } }

.copy__title {
  margin-bottom: 28.8px; }
  .copy__title img {
    display: inline-block;
    max-width: 130px;
    margin-right: 2rem; }
    @media only screen and (max-width: 768px) {
      .copy__title img {
        display: none; } }
  .copy__title--headline {
    display: inline-block; }
  .copy__title h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0; }
  .copy__title h6 {
    color: #1ca3e9; }

.hp-contact {
  box-shadow: inset 0 20px 30px 0 rgba(37, 37, 37, 0.6);
  background: #333;
  padding: 4rem; }
  @media only screen and (max-width: 768px) {
    .hp-contact {
      padding: 4rem 0; } }
  .hp-contact__content {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    @media only screen and (max-width: 768px) {
      .hp-contact__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 .5rem; } }
    @media only screen and (max-width: 768px) {
      .hp-contact__content {
        display: block; } }
    .hp-contact__content--copy {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -ms-flex-preferred-size: 66.66667%;
          flex-basis: 66.66667%;
      max-width: 66.66667%;
      margin: 0 0.5rem; }
      @media only screen and (max-width: 768px) {
        .hp-contact__content--copy {
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
          max-width: 100%; } }
      @media only screen and (max-width: 768px) {
        .hp-contact__content--copy {
          width: 100%;
          max-width: 100%; } }
      .hp-contact__content--copy a {
        color: #fff; }
        .hp-contact__content--copy a span {
          color: #1ca3e9; }
    .hp-contact__content--form {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
      max-width: 33.33333%;
      margin: 0 0.5rem;
      margin-left: 2rem; }
      @media only screen and (max-width: 768px) {
        .hp-contact__content--form {
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
          max-width: 100%; } }
      .hp-contact__content--form h4 {
        text-transform: uppercase;
        color: #fff;
        font-weight: bold; }
      .hp-contact__content--form .form {
        -js-display: flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; }
        .hp-contact__content--form .form .form__input {
          background: #252525;
          border-color: #444;
          border-radius: 3px;
          margin-bottom: .5rem;
          padding: .3rem; }
        .hp-contact__content--form .form input[type='submit'] {
          background: #1ca3e9;
          border: none;
          border-radius: 3px;
          margin-bottom: .5rem;
          padding: .3rem;
          cursor: pointer; }

.breadcrumb {
  position: relative;
  z-index: 0;
  padding-top: 5rem;
  min-height: 50vh;
  background-repeat: no-repeat;
  background-position: top bottom;
  background-size: cover;
  margin-bottom: 8rem; }
  .breadcrumb__content {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    @media only screen and (max-width: 768px) {
      .breadcrumb__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 .5rem; } }
    .breadcrumb__content h1 {
      margin-top: 5rem;
      background: #252525;
      color: #ed1c24;
      text-transform: uppercase;
      font-weight: bold;
      padding: .5rem;
      font-size: 3rem; }
      @media only screen and (max-width: 768px) {
        .breadcrumb__content h1 {
          margin-left: 1rem;
          font-size: 2rem;
          max-width: 80%; } }

.services__intro {
  padding-top: 2rem; }

.quote {
  margin: 0 auto;
  text-align: center;
  color: #1ca3e9;
  font-weight: bold;
  max-width: 80%; }

.services__intro,
.services__maintenance,
.services__installation {
  max-width: 1200px;
  margin: 0 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media only screen and (max-width: 768px) {
    .services__intro,
    .services__maintenance,
    .services__installation {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 .5rem; } }
  .services__intro h4,
  .services__maintenance h4,
  .services__installation h4 {
    color: #fff;
    font-weight: bold;
    margin-top: 57.6px;
    text-transform: uppercase; }
  .services__intro ul,
  .services__maintenance ul,
  .services__installation ul {
    margin-bottom: 28.8px; }
    .services__intro ul li:before,
    .services__maintenance ul li:before,
    .services__installation ul li:before {
      content: "-";
      margin-right: 1rem; }

.services__installation {
  margin-bottom: 2rem; }

.products {
  max-width: 1200px;
  margin: 0 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem; }
  @media only screen and (max-width: 768px) {
    .products {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 .5rem; } }
  .products__product {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #444;
    border: solid 5px #252525;
    padding: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    margin-bottom: 28.8px; }
    @media only screen and (max-width: 768px) {
      .products__product {
        display: block; } }
    .products__product:before {
      content: '';
      height: 100%;
      width: 8px;
      position: absolute;
      top: 0;
      left: 0;
      background: #1ca3e9; }

.product__image {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
  margin: 0 0.5rem; }
  @media only screen and (max-width: 768px) {
    .product__image {
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      max-width: 100%; } }
  @media only screen and (max-width: 768px) {
    .product__image {
      margin-bottom: 28.8px; } }

.product__description {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 58.33333%;
      flex-basis: 58.33333%;
  max-width: 58.33333%;
  margin: 0 0.5rem; }
  @media only screen and (max-width: 768px) {
    .product__description {
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      max-width: 100%; } }
  @media only screen and (max-width: 768px) {
    .product__description {
      margin-bottom: 28.8px; } }
  .product__description p {
    margin-bottom: 0;
    font-size: .8rem; }

.product__link {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-preferred-size: 16.66667%;
      flex-basis: 16.66667%;
  max-width: 16.66667%;
  margin: 0 0.5rem; }
  @media only screen and (max-width: 768px) {
    .product__link {
      -ms-flex-preferred-size: auto;
          flex-basis: auto;
      max-width: 100%; } }
  .product__link .button {
    background: #1ca3e9;
    width: 100%;
    border-bottom: solid 2px #1384bf; }
    .product__link .button:hover {
      background: #4ab6ee; }

.learn__intro {
  padding-top: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }
  @media only screen and (max-width: 768px) {
    .learn__intro {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 .5rem; } }

.learn__companies {
  padding-top: 1rem;
  padding-bottom: 3rem;
  max-width: 1200px;
  margin: 0 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -js-display: flex;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.learn__companies > * {
  margin-right: 30px; }

.learn__companies > *:nth-child(4n + 1) {
  width: calc(99.99% * 1/4 - (30px - 30px * 1/4)); }

.learn__companies > *:nth-child(4n + 2) {
  width: calc(99.99% * 1/4 - (30px - 30px * 1/4)); }

.learn__companies > *:nth-child(4n + 3) {
  width: calc(99.99% * 1/4 - (30px - 30px * 1/4)); }

.learn__companies > *:nth-child(4n + 4) {
  width: calc(99.99% * 1/4 - (30px - 30px * 1/4));
  margin-right: 0; }
  @media only screen and (max-width: 768px) {
    .learn__companies {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 .5rem; } }
  @media only screen and (max-width: 768px) {
    .learn__companies {
      width: 100%;
      -js-display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
    .learn__companies > * {
    margin-right: 30px; }
    .learn__companies > *:nth-child(1n + 1) {
    width: calc(99.99% * 1/1 - (30px - 30px * 1/1));
    margin-right: 0; } }

.company__profile {
  margin-bottom: 28.8px; }
  .company__profile--image {
    background: #fff;
    padding: 1rem;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    .company__profile--image img {
      max-width: 80%; }
    .company__profile--image:after {
      content: '';
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.4);
      opacity: 1;
      -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .company__profile--title {
    background: #252525;
    color: #fff;
    padding: .5rem;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    color: #666; }
  .company__profile--link {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 0;
    background: #666;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #fff;
    font-size: .8rem;
    padding-left: .5rem;
    -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .company__profile--link i {
      background: rgba(0, 0, 0, 0.3);
      line-height: 2.5;
      width: 40px;
      text-align: center;
      margin-left: auto;
      font-size: 1rem;
      -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .company__profile:hover .company__profile--image:after {
    opacity: 0; }
  .company__profile:hover .company__profile--title {
    color: #fff; }
  .company__profile:hover .company__profile--link {
    background: #1ca3e9; }
    .company__profile:hover .company__profile--link i {
      width: 80px; }

.faq {
  max-width: 1200px;
  margin: 0 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3rem 0; }
  @media only screen and (max-width: 768px) {
    .faq {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 .5rem; } }
  .faq h6 {
    font-weight: bold;
    color: #1ca3e9; }
  .faq__question {
    margin-bottom: 57.6px; }

.contact {
  max-width: 1200px;
  margin: 0 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 3rem 0; }
  @media only screen and (max-width: 768px) {
    .contact {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 .5rem; } }
  .contact__intro {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 43.2px; }
    .contact__intro img {
      max-width: 250px; }
    @media only screen and (max-width: 768px) {
      .contact__intro {
        display: block; }
        .contact__intro img {
          margin: 0 auto; } }
  .contact__form {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 768px) {
      .contact__form {
        display: block; } }
    .contact__form i {
      color: #1ca3e9;
      margin-right: .5rem; }
    .contact__form--details {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
      max-width: 33.33333%;
      margin: 0 0.5rem; }
      @media only screen and (max-width: 768px) {
        .contact__form--details {
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
          max-width: 100%; } }
      @media only screen and (max-width: 768px) {
        .contact__form--details {
          margin-bottom: 2rem; } }
    .contact__form--fields {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
      max-width: 33.33333%;
      margin: 0 0.5rem;
      -js-display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      @media only screen and (max-width: 768px) {
        .contact__form--fields {
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
          max-width: 100%; } }
      .contact__form--fields .form__input {
        background: #252525;
        border-color: #444;
        border-radius: 3px;
        margin-bottom: .5rem;
        padding: .3rem; }
    .contact__form--message {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      -ms-flex-preferred-size: 33.33333%;
          flex-basis: 33.33333%;
      max-width: 33.33333%;
      margin: 0 0.5rem;
      -js-display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; }
      @media only screen and (max-width: 768px) {
        .contact__form--message {
          -ms-flex-preferred-size: auto;
              flex-basis: auto;
          max-width: 100%; } }
      @media only screen and (max-width: 768px) {
        .contact__form--message {
          margin-bottom: 2rem; } }
      .contact__form--message .form__input {
        background: #252525;
        border-color: #444;
        border-radius: 3px;
        margin-bottom: .5rem;
        padding: .3rem; }
      .contact__form--message input[type='submit'] {
        background: #1ca3e9;
        border: none;
        border-radius: 3px;
        margin-bottom: .5rem;
        padding: .3rem;
        cursor: pointer;
        text-transform: uppercase;
        font-weight: bold; }

#google-container {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #e7eaf0; }

#google-map {
  position: relative; }

#zoom-in, #zoom-out {
  height: 32px;
  width: 32px;
  cursor: pointer;
  margin-left: 10px;
  background-color: rgba(74, 126, 184, 0.9);
  background-repeat: no-repeat;
  background-size: 32px 64px;
  background-image: url("/img/cd-icon-controller.svg"); }

.no-touch #zoom-in:hover, .no-touch #zoom-out:hover {
  background-color: #e4b162; }

@media only screen and (min-width: 768px) {
  #zoom-in, #zoom-out {
    margin-left: 50px; } }

#zoom-in {
  background-position: 50% 0;
  margin-top: 10px;
  margin-bottom: 1px; }

@media only screen and (min-width: 768px) {
  #zoom-in {
    margin-top: 50px; } }

#zoom-out {
  background-position: 50% -32px; }

.footer {
  background: #252525;
  padding: 1.5rem 0; }
  .footer__copyright a:first-of-type {
    color: #1ca3e9; }
  .footer__content {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    font-size: .8rem;
    color: #666666; }
    @media only screen and (max-width: 768px) {
      .footer__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 .5rem; } }
    @media only screen and (max-width: 768px) {
      .footer__content {
        display: block; } }
    .footer__content a {
      -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      color: #666666; }
      .footer__content a:hover {
        color: #888; }
    .footer__content ul {
      -js-display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: auto; }
      @media only screen and (max-width: 768px) {
        .footer__content ul {
          display: block; } }
      .footer__content ul a {
        padding: 0.5rem; }

.menu__trigger {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 70;
  display: none; }
  @media only screen and (max-width: 768px) {
    .menu__trigger {
      display: block; } }
  .menu__trigger span {
    display: block;
    height: 3px;
    width: 30px;
    background: #1ca3e9;
    margin-bottom: 6px;
    -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }

.menu {
  position: fixed;
  z-index: 60;
  background: #252525;
  height: 100%;
  width: 100%;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
  .menu a {
    display: block; }
    .menu a img {
      height: 50px; }
  .menu__nav a {
    display: block;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem; }

.menu__trigger.is--open span:first-of-type {
  -webkit-transform: translateY(9px) rotate(45deg);
          transform: translateY(9px) rotate(45deg); }

.menu__trigger.is--open span:nth-of-type(2) {
  opacity: 0; }

.menu__trigger.is--open span:last-of-type {
  -webkit-transform: translateY(-9px) rotate(-45deg);
          transform: translateY(-9px) rotate(-45deg); }

.menu.is--open {
  opacity: 1;
  visibility: visible;
  pointer-events: all; }

.special__intro {
  max-width: 1200px;
  margin: 0 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3rem 0 2rem; }
  @media only screen and (max-width: 768px) {
    .special__intro {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 .5rem; } }
  @media only screen and (max-width: 768px) {
    .special__intro {
      display: block; } }
  .special__intro--description {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
    margin: 0 0.5rem; }
    @media only screen and (max-width: 768px) {
      .special__intro--description {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        max-width: 100%; } }
    .special__intro--description h2 {
      color: #1ca3e9;
      font-weight: bold; }
  .special__intro--image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
    margin: 0 0.5rem; }
    @media only screen and (max-width: 768px) {
      .special__intro--image {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        max-width: 100%; } }
    .special__intro--image img {
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
      @media only screen and (max-width: 768px) {
        .special__intro--image img {
          margin: 1rem 0; } }

.special__points {
  max-width: 1200px;
  margin: 0 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 3rem; }
  @media only screen and (max-width: 768px) {
    .special__points {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0 .5rem; } }
  .special__points--first, .special__points--last {
    @incldue col(six); }
    .special__points--first h6, .special__points--last h6 {
      font-weight: bold;
      color: #1ca3e9; }
  .special__points--first {
    margin-right: 2rem; }

.about-us {
  background: #252525; }
  .about-us h2 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold; }
  .about-us__content {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    position: relative;
    z-index: 20; }
    @media only screen and (max-width: 768px) {
      .about-us__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 .5rem; } }
  .about-us__copy {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 66.66667%;
        flex-basis: 66.66667%;
    max-width: 66.66667%;
    margin: 0 0.5rem;
    padding: 3rem 0;
    margin-right: 4rem; }
    @media only screen and (max-width: 768px) {
      .about-us__copy {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        max-width: 100%; } }
    .about-us__copy i {
      display: block;
      margin-bottom: 1rem; }
  .about-us__image {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -ms-flex-preferred-size: 33.33333%;
        flex-basis: 33.33333%;
    max-width: 33.33333%;
    margin: 0 0.5rem;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative; }
    @media only screen and (max-width: 768px) {
      .about-us__image {
        -ms-flex-preferred-size: auto;
            flex-basis: auto;
        max-width: 100%; } }
    @media only screen and (max-width: 768px) {
      .about-us__image {
        display: none; } }
    .about-us__image img {
      position: absolute;
      bottom: 0;
      height: 120%; }

.brands {
  padding: 2rem; }
  .brands .brands-content {
    max-width: 1200px;
    margin: 0 auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    display: block;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      .brands .brands-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 0 .5rem; } }
    .brands .brands-content h4 {
      font-weight: bold;
      text-transform: uppercase;
      color: #fff; }
    .brands .brands-content ul {
      -js-display: flex;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media only screen and (max-width: 768px) {
        .brands .brands-content ul {
          display: block; } }
      .brands .brands-content ul li {
        -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
                flex: 1 1 auto;
        margin-right: 1rem;
        border: solid 4px #222; }
        @media only screen and (max-width: 768px) {
          .brands .brands-content ul li {
            border: none; } }
        .brands .brands-content ul li:last-of-type {
          margin-right: 0; }
        .brands .brands-content ul li img {
          max-width: 100%;
          margin-bottom: -6px; }
    .brands .brands-content .button {
      background: #1ca3e9;
      margin-top: 1rem; }
